body {
    margin-top:2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0d8187;
}

main {
    font-family: $font;
    color: #303030;
}